.list-group {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
    padding-bottom: 0 !important;
}
.list-group-item{
    display: flex;
    padding: 15px 0;
    border: none;
    font-family: 'Roboto-Regular','NotoSansKR-Regular';
    line-height: 1.6;
    border-radius: 0px !important;
    border-top: none !important;
}

.list-group:before {
    background-color: none !important;
    display: none !important;
}
.list-group-item + .list-group-item{
    border-top-width : 0;
}
.content:first-child{
   border-top: 1px solid #ddd !important;
   overflow: hidden;
}
strong {
    font-weight: 500;
}


.d-flex {
    display: flex !important;
}
.align-items-center {
    align-items: center !important
}

select.form-control {
    padding: 0px 10px 0px 6px;
    -webkit-appearance: none;
    appearance: none;
    padding: 0 28px 0 6px;
    background: #fff url(@/assets/images/ico_select_arr.png) right 11px center no-repeat;
    -webkit-background-size: 11px 7px;
    background-size: 11px 7px;
}

.form-control {
    border: 1px solid #c8c8c8;
    height: 40px;
    line-height: inherit;
    font-size: 1rem;
    color: #222;
}

.mr-1 {
    margin-right: 0.25rem !important;
}
.select-setting{
    padding: 0px 10px 0px 6px !important;
}
button {
    display: block;
    width: 120px;
    padding: 5px 10px;
    margin-left: 5px;
}

.btn-default {
    border: 1px solid #c8c8c8;
    background-color: #f5f5f5;
    border-radius: 4px;
    width: 70px;
    padding: 5px 10px;
}

.btn {  
    font-family: inherit;
    font-size: /* 15px */ 0.9375rem;
    color: #222;
}

.icon-arr {
    display: inline-block;
    position: relative;
    width: 6px;
    height: 10px;
}

.icon-arr::after{
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 6px;
    height: 10px;
    margin-top: -5px;
    background: url(@/assets/images/ico_arr.png) 0 0 no-repeat;
    background-size: 100%;
}

.set-menu-1{
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.set-menu-1:after{ /* 기본페이지 설정  */
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    margin-top: 4px;
    background: url(@/assets/images/settingIcon/set_menu_1.png) center no-repeat;
    background-size: 100%;
}
.set-menu-4{
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.set-menu-4:after{ /* 로그인설정  */
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 22px;
    margin-top: 4px;
    background: url(@/assets/images/settingIcon/set_menu_4.png) center no-repeat;
    background-size: 100%;
}
.set-menu-6{
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.set-menu-6:after{ /* 버전정보 */
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    margin-top: 4px;
    background: url(@/assets/images/settingIcon/set_menu_6.png) center no-repeat;
    background-size: 100%;
}
.set-menu-8{
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.set-menu-8:after{ /* 자동 로그아웃 시간  */
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 22px;
    margin-top: 4px;
    background: url(@/assets/images/settingIcon/ico_logout_v2.png) center no-repeat;
    background-size: 100%;
}
.set-menu-9{
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.set-menu-9:after{ /* 방해금지 설정 */
    display: inline-block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    margin-top: 4px;
    background: url(@/assets/images/settingIcon/ico_night.png) center no-repeat;
    background-size: 100%;
}

.content {
    margin-top: 15px !important;
}