/* 
프로젝트 전체에 적용되는 변수에 대해 정의함
실제 css에 대한 적용은 _index.scss에 작성
(이 파일은 vite.confog.ts에 설정함 ) 
*/


$main-color : #23549b;


$--blue: #007bff;
$--indigo: #6610f2;
$--purple: #6f42c1;
$--pink: #e83e8c;
$--red: #dc3545;
$--orange: #fd7e14;
$--yellow: #ffc107;
$--green: #28a745;
$--teal: #20c997;
$--cyan: #17a2b8;
$--white: #fff;
$--gray: #6c757d;
$--gray-dark: #343a40;
$--primary: #007bff;
$--secondary: #6c757d;
$--success: #28a745;
$--info: #17a2b8;
$--warning: #ffc107;
$--danger: #dc3545;
$--light: #f8f9fa;
$--dark: #343a40;
$--breakpoint-xs: 0;
$--breakpoint-sm: 576px;
$--breakpoint-md: 768px;
$--breakpoint-lg: 992px;
$--breakpoint-xl: 1200px;
$--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


/* color palette from <https://github.com/vuejs/theme> */

$--vt-c-white: #ffffff;
$--vt-c-white-soft: #f8f8f8;
$--vt-c-white-mute: #f2f2f2;

$--vt-c-black: #181818;
$--vt-c-black-soft: #222222;
$--vt-c-black-mute: #282828;

$--vt-c-indigo: #2c3e50;

$--vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
$--vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
$--vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
$--vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

$--vt-c-text-light-1: $--vt-c-indigo;
$--vt-c-text-light-2: rgba(60, 60, 60, 0.66);
$--vt-c-text-dark-1: $--vt-c-white;
$--vt-c-text-dark-2: rgba(235, 235, 235, 0.64);


/* semantic color variables for this project */

$--color-background: $--vt-c-white;
$--color-background-soft: $--vt-c-white-soft;
$--color-background-mute: $--vt-c-white-mute;

$--color-border: $--vt-c-divider-light-2;
$--color-border-hover: $--vt-c-divider-light-1;

$--color-heading: $--vt-c-text-light-1;
$--color-text: $--vt-c-text-light-1;

$--section-gap: 160px;
